.container {
    background-color: #fff;
    border-radius: .5rem;
    padding: 0 2rem;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 5rem;
        font-weight: bold;
    }

    p {
        font-size: 1.5rem;
    }

    .wrapper {
        display: flex;
        gap: 1rem;

        margin: 1rem auto;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;

            img {
                display: block;
                width: 15rem;
            }
        }

        
    }

    img {
        width: 75rem;
    }
    
    .finalText {
        margin-top: 2rem;
    }
}