.rodape {
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-top: 10px;
}

.main-container {
    background: #ffffff;
    max-width: 720px;
    border-radius: .5rem;
    display: flex;
}